.listheader {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(4px);
    font-size: 2em;
    text-transform: uppercase;
    align-content: center;
}

.postHeader {
    margin: 0 10px;
}

.dropdownButton {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    text-transform: uppercase;
}

.dropdownButton:hover {
    background-color: #0056b3;
}

/* Dropdown menu styles */
.dropdownMenu {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    position: absolute;
    top: 60px;
    /* Adjust according to your header's height */
    right: 0;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    width: 300px;
    /* Adjust width as needed */
}

ul img {
    width: 70px;
}